{{#d-modal-body title="bbb.modal.title" class="insert-bbb"}}
<div class="insert-bbb-form">
  <div class="insert-bbb-input">
    <label>{{i18n "bbb.meetingID"}}</label>
    {{text-field value=meetingID}}
  </div>

  <div class="insert-bbb-input">
    <label>{{i18n "bbb.button_text"}}</label>
    {{text-field value=buttonText placeholderKey="bbb.launch"}}
  </div>

  <div class="insert-bbb-input">
    <label>{{i18n "bbb.attendeePW"}}</label>
    {{text-field value=attendeePW}}
  </div>

  <div class="insert-bbb-input">
    <label>{{i18n "bbb.moderatorPW"}}</label>
    {{text-field value=moderatorPW}}
  </div>
</div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary" disabled=insertDisabled label="bbb.modal.insert" action=(action "insert")}}
  {{d-button class="btn-danger" label="bbb.modal.cancel" action=(action "cancel")}}
</div>
